body{
    
 /*ackground: skyblue;*/
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    /*background-repeat: round;*/
    background-size: cover;
    background-image: url(../img/ensias.jpg); 
}

.menu{
    width: 100% ;
    background: #142b47;
    overflow: auto;
}

.menu ul {
    padding: 0;
    list-style: none;
    line-height: 60px ; 
}

.menu li {
    float: left ;
}
.menu ul li a{
    background: #142b47 ;
    text-decoration: none ;
    width: 130px ;
    display: block ;
    text-align: center ;
    color: #f2f2f2 ;
    font-size: 18px ;
    font-family: sans-serif ;
    letter-spacing: 0.5px ;
}
.menu li a:hover{
   /* color: #fff;*/
    color: orange;
    font-size: 19px ;
}
input[type=text]{
    padding: 7px;
    border: none ;
    font-size: 16px;
    font-family: sans-serif;
}


.box{
   
    top: 120px;
    left: 240px;
    transform: translate(-50%,-50%);
    width: 400px;
   padding: 40px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 10px ;

}

.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
      
}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;  
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent ;
    
    
}



.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1.4s;
    
}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;    
}

.box input[type="submit"]{
    
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  orange;;
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;
    
}
.dropbtn{
    background-color: #4caf50;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: #3e8e41;
}
p{
    color: white;
}
.nav
{
color: black;
}
button{
    float: right;
}
