h3
{
text-align: center;
font-size: 30px
}
p
{
	text-align: center;
    font-size: 20px
}
r
{
    text-align: left;
    font-size: 20px
}
o
{
    text-align: left;
    font-size: 25px 
}
li 

{
	text-align: center;
}
ul{
	text-align: center;

}
img 
{ height : 364px ;
	width: 720px;
  margin-left:400px;
}


.menu{
    width: 100% ;
    background: white;
    overflow: auto;
    background-size: 100%;

}

.menu ul {
    margin-left: 20px;
    padding: 0;
    list-style: none;
    line-height: 60px ; 
}

.menu li {
    float: left ;
}
.menu ul li a{ 
    background: #d3121c ;
    text-decoration: none ;
    width: 290px 
    ;
    display: block ;
    text-align: center ;
    color: #f2f2f2 ;
    font-size: 25px ;
    font-family: sans-serif ;
    letter-spacing: 0.5px ;
    background-size:auto;
}
.menu li a:hover{
   /* color: #fff;*/
    color: rgb(14, 13, 13);
    font-size: 19px ;
}









